@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("/Pricedown\ Bl.otf");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}

